@media screen and (max-width: 1023px) {
    .curve {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    
    main {
        padding: 1.5rem;
        position: relative;
        height: 33.5rem;

        .img_container {
            position: relative;
            height: 18rem;
            margin-bottom: .5rem;
    
            .person {
                position: absolute;
                z-index: 2;
                width: 12.75rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            .pattern {
                position: absolute;
                z-index: 1;
                width: 17.5rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    
        .slide {
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
            display: none;
    
            .text_container {
                position: relative;
                padding-top: 1rem;
    
                display: flex;
                flex-direction: column;
                gap: 1rem;
    
                q {
                    color: $dark-blue;
                }
    
                .name {
                    font-weight: 700;
                    color: $dark-blue;
                }
    
                .job {
                    color: $grayish-blue;
                }
            }
    
            .quote {
                width: 3rem;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
            }
        }
    
        .buttons {
            display: flex;
            position: absolute;
            z-index: 3;
            top: 15.5rem;
            left: 50%;
            transform: translate(-50%);
    
            button {
                border: none;
                padding: .5rem;
                cursor: pointer;
    
                &.prev {
                    border-top-left-radius: 4rem;
                    border-bottom-left-radius: 4rem;
                    padding-right: .72rem;
                }
    
                &.next {
                    border-top-right-radius: 4rem;
                    border-bottom-right-radius: 4rem;
                    padding-left: .72rem;
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .curve {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    main {
        padding: 0;
        max-width: 1000px;
        height: 30rem;
        position: relative;

        .img_container {
            position: relative;
            height: 18rem;
            margin-bottom: .5rem;
    
            .person {
                position: absolute;
                z-index: 2;
                width: 20rem;
                top: 30%;
                right: 3rem;
            }
    
            .pattern {
                position: absolute;
                z-index: 1;
                width: 25.5rem;
                top: 16.5%;
                right: 0;
            }
        }

        .text_container {
            width: 70%;
            z-index: 4;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
            transform: translateY(-65%);

            q {
                font-size: 2rem;
                color: $dark-blue;
            }


            .name_job {
                display: flex;
                gap: .5rem;
            }
            .name {
                font-weight: 700;
                color: $dark-blue;
            }

            .job {
                color: $grayish-blue;
            }


            .quote {
                width: 7.5rem;
                position: absolute;
                top: -2.5rem;
                left: 7.5rem;
                transform: translate(-50%);
            }

        }

        .slide {
            display: flex;
            align-items: center;
        }

        .buttons {
            display: flex;
            position: absolute;
            z-index: 3;
            bottom: 3.5rem;
            right: 15.5rem;
            transform: translate(-50%);
    
            button {
                border: none;
                padding: .5rem;
                cursor: pointer;
    
                &.prev {
                    border-top-left-radius: 4rem;
                    border-bottom-left-radius: 4rem;
                    padding-right: .72rem;
                }
    
                &.next {
                    border-top-right-radius: 4rem;
                    border-bottom-right-radius: 4rem;
                    padding-left: .72rem;
                }
            }
        }
    }
}