@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Inter, sans-serif;
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .curve {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  main {
    padding: 1.5rem;
    position: relative;
    height: 33.5rem;
  }
  main .img_container {
    position: relative;
    height: 18rem;
    margin-bottom: 0.5rem;
  }
  main .img_container .person {
    position: absolute;
    z-index: 2;
    width: 12.75rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .img_container .pattern {
    position: absolute;
    z-index: 1;
    width: 17.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    display: none;
  }
  main .slide .text_container {
    position: relative;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main .slide .text_container q {
    color: hsl(240deg, 38%, 20%);
  }
  main .slide .text_container .name {
    font-weight: 700;
    color: hsl(240deg, 38%, 20%);
  }
  main .slide .text_container .job {
    color: #545478;
  }
  main .slide .quote {
    width: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  main .buttons {
    display: flex;
    position: absolute;
    z-index: 3;
    top: 15.5rem;
    left: 50%;
    transform: translate(-50%);
  }
  main .buttons button {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  main .buttons button.prev {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding-right: 0.72rem;
  }
  main .buttons button.next {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-left: 0.72rem;
  }
}
@media screen and (min-width: 1024px) {
  .curve {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  main {
    padding: 0;
    max-width: 1000px;
    height: 30rem;
    position: relative;
  }
  main .img_container {
    position: relative;
    height: 18rem;
    margin-bottom: 0.5rem;
  }
  main .img_container .person {
    position: absolute;
    z-index: 2;
    width: 20rem;
    top: 30%;
    right: 3rem;
  }
  main .img_container .pattern {
    position: absolute;
    z-index: 1;
    width: 25.5rem;
    top: 16.5%;
    right: 0;
  }
  main .text_container {
    width: 70%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    transform: translateY(-65%);
  }
  main .text_container q {
    font-size: 2rem;
    color: hsl(240deg, 38%, 20%);
  }
  main .text_container .name_job {
    display: flex;
    gap: 0.5rem;
  }
  main .text_container .name {
    font-weight: 700;
    color: hsl(240deg, 38%, 20%);
  }
  main .text_container .job {
    color: #545478;
  }
  main .text_container .quote {
    width: 7.5rem;
    position: absolute;
    top: -2.5rem;
    left: 7.5rem;
    transform: translate(-50%);
  }
  main .slide {
    display: flex;
    align-items: center;
  }
  main .buttons {
    display: flex;
    position: absolute;
    z-index: 3;
    bottom: 3.5rem;
    right: 15.5rem;
    transform: translate(-50%);
  }
  main .buttons button {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  main .buttons button.prev {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding-right: 0.72rem;
  }
  main .buttons button.next {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-left: 0.72rem;
  }
}/*# sourceMappingURL=style.css.map */