@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: Inter, sans-serif;
    display: grid;
    place-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./main";